body {
    display:  flex;
    background-color: brown;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
}

#square1 {
    background-color: red;
    /* width: 100px;
    height: 100px; */
    display: flex;
}

#square2 {
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 60px;
    border: 20px solid black
}